.u-center-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.u-center {
    margin: 0 auto;
}

.u-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 1200px) {
    .u-flex-center {
        flex-direction: row;
        align-items: flex-start;
    }
}