.u-center-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.u-center {
    margin: 0 auto;
}

.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8rem;
}